@import '../../Styles/variables';
@import '../../Styles/mixins';

.todo-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    padding: {
        bottom: 0.5625em;
        top: 0.5625em;
    }
}

.todo-item-info-light-incomplete {
    @include todoItemInfo (map-get($global, 'black'));
}

.todo-item-info-dark-incomplete {
    @include todoItemInfo (map-get($global, 'white'));
}

.todo-item-info-light-complete {
    @include todoItemInfo (map-get($light, 'gray'));
    text-decoration: line-through;
    text-decoration-color:map-get($light , 'gray'); 

}

.todo-item-info-dark-complete {
    @include todoItemInfo (map-get($dark, 'gray'));
    text-decoration: line-through;
    text-decoration-color:map-get($dark , 'gray');
}


.todo-item-controls {
    display: flex;
    align-items: center;

    > button {
        border: none;
        padding: .8em;
        background-color: inherit;

        > .chevron {
            font-size: 2.1em;    
        };
    
        > svg {
            color: map-get($global, 'gray');
            font-size: 1.7em;
        };
    };
}