*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color:transparent;
  font-family: $mainFont;
  transition: background-color .3s ease;
}


body {
  min-width: 100vw;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s ease;
}

.app-base-light {
  @include appBase(map-get($light, 'bg'));
}

.app-base-dark {
  @include appBase(map-get($dark, 'bg'))
}

.layout {
  display: flex;
  flex-direction: column;
  // overflow: scroll;

  @include xs {
    width: 100vw;
    padding: 1.4em;
  }

  @include lg {
    width: 960px;
    padding: 2.3em;
  }
}

.responsive-padding {
  padding-bottom: 0;

  @media screen and (max-width: 959px) {
    padding-bottom: 7em;
  }
}