@mixin smallDeviceSize {
	@media only screen and (max-width: 768px) {
		@content;
	}
}

@mixin appBase ($bg) {
	width: 100vw;
	height: 100vh;
	background-color: $bg;
	display: flex;
	justify-content: center;
}