@mixin xs {
    @media (min-width: map-get($breakpoints, 'xs')) {
        @content;
    }
}
@mixin sm {
    @media (min-width: map-get($breakpoints, 'sm')) {
        @content;
    }
}

@mixin md {
    @media (min-width: map-get($breakpoints, 'md')) {
        @content;
    }
}

@mixin lg {
    @media (min-width: map-get($breakpoints, 'lg')) {
        @content;
    }
}

@mixin xl {
    @media (min-width: map-get($breakpoints, 'xl')) {
        @content;
    }
}

@mixin breakpoint($bp: 0) {
    @media (min-width: $bp) {
        @content;
    }
}

@mixin appBase ($bg) {
	width: 100vw;
	height: 100vh;
	background-color: $bg;
	display: flex;
	justify-content: center;
}

@mixin title ($color, $fontSize) {
    h1 {
        color: $color;
        font-size: $fontSize;
        padding: 0px;
        margin: 0px;
    }

    div {
        height: 1px;
        width: 1.1em;
        background-color: map-get($global, 'gray');
        margin-top: .5rem;
        padding: 0px;
    }
}

@mixin button ($color, $border) {
    color: $color;
    border: 2px solid $border;
    font-size: 1.19em;
    height: 2em;
    border-radius: 8px;
    font-family: $mainFont;
    cursor: pointer;

    padding: {
        top: 0px;
        bottom: 0px;
        left: .5em;
        right: .5em;
    }
    
    display:flex;
    justify-content: space-between;
    align-items: center;

    > * {
        font-size: 1.7em;
        margin-left: .2em;
    }
}