@mixin xs {
    @media (min-width: map-get($breakpoints, 'xs')) {
        @content;
    }
}
@mixin sm {
    @media (min-width: map-get($breakpoints, 'sm')) {
        @content;
    }
}

@mixin md {
    @media (min-width: map-get($breakpoints, 'md')) {
        @content;
    }
}

@mixin lg {
    @media (min-width: map-get($breakpoints, 'lg')) {
        @content;
    }
}

@mixin xl {
    @media (min-width: map-get($breakpoints, 'xl')) {
        @content;
    }
}

@mixin breakpoint($bp: 0) {
    @media (min-width: $bp) {
        @content;
    }
}

@mixin appBase ($bg) {
	width: 100vw;
	height: 100vh;
	background-color: $bg;
	display: flex;
	justify-content: center;
}

@mixin title ($color, $fontSize, $fontSizeXs) {
    > h1 {
        color: $color;
        padding: 0px;
        margin: 0px;
        font-weight: normal;

        @include xs {
            font-size: $fontSizeXs;
        }

        @include md {
            font-size: $fontSize;
        }
    }

    > div {
        min-height: 2px;
        width: 1.2em;
        background-color: map-get($global, 'gray');
        margin-top: .9em;
        padding: 0px;
    }
}

@mixin button ($color, $border, $bg) {
    color: $color;
    border: 1px solid $border;
    background-color: $bg;
    font-size: 1.2em;
    height: 2em;
    border-radius: 8px;
    font-family: $mainFont;
    cursor: pointer;

    padding: {
        top: 0px;
        bottom: 0px;
        left: .5em;
        right: .5em;
    }
    
    display:flex;
    justify-content: space-between;
    align-items: center;

    > svg {
        font-size: 1.7em;
        margin-left: .2em;
    }
}

@mixin switch ($switchBase, $border, $button, $position) {
    max-width: 3.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;

    > div {
        width: 100%;
        height: 1em;
        border-radius: 1em;
        background-color: $switchBase;
    }

    > button {
        width: 2.25em;
        height: 2.25em;
        border-radius: 50%;
        background-color: $button;
        border: 1px solid $border;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right:$position ;
        transition: right 1s ease, background-color 1s ease, border 1s ease;
        cursor: pointer;

        > * {
            color: map-get($global, 'gray');
            font-size: 1.2em;
        }
    }
}

@mixin modalContainer ($bg, $close) {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: $bg;
    padding: 2em;
    box-shadow: 0px 2px 5px 2px gray;

    @include xs {
        width: 100vw;
    }

    @include sm {
        width: 480px;
    }

    > button {
        padding: 0;
        margin: 0;
        background-color: none;
        border: none;
        cursor: pointer;

        > svg {
            position: absolute;
            top: .5em;
            right: .5em;
            color: $close;
            font-size: 1.8em;
        }
    }
}


@mixin modalInput($color, $bg, $border) {
    width: 100%;
    margin-top: 1.5em;

    > h3 {
        font-size: 0.8em;
        margin-bottom: .5em;
        color: $color;
    }

    > input {
        width: 100%;
        border: none;
        font-size: 1em;
        background-color: $bg;
        border-bottom: 2px solid $border;
        color: $color;
        border-radius: 0px;

        padding: {
            top: .2em;
            bottom: .2em;
        };

        &:focus {
            outline: none;
            border-bottom: 2px solid $color;
        }
    }
}

@mixin colorSelect ($border, $bg) {
    > div {
        > input {
            width: 0;
            opacity: 0;
            &:checked + label{
                border: 2px solid $border;
            }
        }

        > .gradient-0 {
            background-color: $bg;
        }

        > label {
            width: 1.25em;
            height: 1.25em;
            border-radius: 1em;
            display: inline-block;
            margin-right: .5em;
            border: 1px solid map-get($global, 'gray');
            cursor: pointer;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@mixin appContent ($border) {
    width: 100%;

    > div.todo-item {
        border-bottom: 1px solid $border;
    }
    
    :last-child.todo-item {
        border:none;
    }
}

@mixin todoItemInfo ($color) {
    display: flex;
    flex-direction: row;
    align-items: center;

    > button {
        margin: 1.125em;
        width: 1.25em; 
        height: 1.25em;
    }

    > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: $color;

        > * {
            font-size: .9em;
            font-family: $mainFont;
            padding: 0;
            margin: {
                top: -.19em;
                bottom: .19em;
            };
            font-weight: normal;
        }

        :first-child{
            font-size: 1.125em;
            font-family: $mainFont;
            padding: 0;
            margin: 0;
        }

        :last-child {
            font-size: 0.75em;
            font-family: $secondaryFont;
            padding: 0;
            margin: 0;
        }
    }
}