$global: (
'black': #000000,
'white': #FFFFFF,
'gray': #868686,
);

$light: (
'bg': #F3F3F3,
'gray': #A4A4A4,
'switchBase': #E7E7E7,
'radioButtonBase': #DADADA,
);

$dark: (
'bg': #1B1B1B,
'gray': #676767,
'switchBase': #292929,
'radioButtonBase': #444444,
);

$gradient: (
'1': #FF7C5E,
'2': #FF8959,
'3': #FF9654,
'4': #FFA34F,
'5': #FFB04A,
'6': #F87156,
'7': #FDC96E,
'8': #88D6BB,
'9': #9fa7f3,
'10': #6bbdfc,
);


$breakpoints: (
    "xs": 0,
    "sm": 480px,
    "md": 720px,
    "lg": 960px,
    "xl": 1200px,
);

$mainFont: 'RM Neue';

$secondaryFont: 'Fira Mono', monospace;