@import '../../Styles/variables';
@import '../../Styles/mixins';

.modal-blur {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    padding-left: 1em;
    padding-right: 1em;
}

.modal-container-light {
    @include modalContainer(map-get($light, 'bg'), map-get($global, 'black'));
}

.modal-container-dark {
    @include modalContainer(map-get($dark, 'bg'), map-get($global, 'white'));
}