@import '../../Styles/variables';
@import '../../Styles/mixins';

.modal-blur {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.modal-container-light {
    @include modalContainer(map-get($light, 'bg'));
}

.modal-container-dark {
    @include modalContainer(map-get($dark, 'bg'));
}