@import '../../Styles/variables';
@import '../../Styles/mixins';

.app-content {
    width: 100%;
    padding-top: 2.4em;


    :first-child > {
        div.todo-item-light, div.todo-item-dark {
            border-radius: 20px 20px 0px 0px;
        }
    }

    :last-child > {
        div.todo-item-light, div.todo-item-dark {
            border: none;
            border-radius: 0px 0px 20px 20px;
        }
    }

    :only-child > {
        div.todo-item-light, div.todo-item-dark {
            border-radius: 20px;
            border: none
        }
    }

}

.clear-todos-light {
    @include clearTodos(map-get($global, 'black'), map-get($global, 'white'))    
}

.clear-todos-dark {
    @include clearTodos(map-get($global, 'white'), map-get($global, 'black'))
}