@import '../../Styles/variables';
@import '../../Styles/mixins';

.color-select-light {
    @include modalInput(map-get($global, 'black'), map-get($global, 'white'), map-get($light, 'gray'));
    @include colorSelect(map-get($global, 'black'), map-get($global, 'gray'))
}

.selected-light {
    border: 1px solid map-get($global, 'black');
}

.selected-dark {
    border: 1px solid map-get($global, 'white');
}

@each $key, $val in $gradient {
    .gradient-#{$key} {
        background-color: $val;
    }
}